* {
  margin: 0;
  padding: 0;
}

html {
  --prim-color: #002c23;
  --seco-color: #ffcdd1; /*#90323D*/
  --tirt-color: #ffffff; /*#CACAAA #064789*/
  --quat-color: #2b0001;
  background-color: var(--prim-color);
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0.2em 0.8em 0.8em;
  width: 60%;
  background-color: var(--seco-color); /*#4D148C*/
}

#top_padding {
  height: 0.4em;
  border: 0;
}

#top_image {
  margin: 0 auto 0;
  width: 90%;
  height: 800px;
  display: block;
}

h1 {
  margin: 0.2em 0;
  padding: 0.4em;
  font-size: 2.5em;
  text-align: center;
  color: var(--tirt-color);
  background-color: var(--quat-color);
}

#rsvpform {
  margin: 0 auto;
  width: 80%;
  height: 1200px;
}

h2 {
  margin-bottom: 0.4em;
  padding: 1em;
  text-align: center;
  color: var(--tirt-color);
  background-color: var(--quat-color);
}

h3,h4 {
  text-align: center;
}

@media only screen and (max-width: 1280px) {
  body {
    width: 99%;
  }

  h1 {
    font-size: 3em;
  }
}
